@model List<Core.Models.Product>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="d-flex justify-content-between align-content-center mb-3">
                    <h6 class="mb-4">All Products</h6>
                    <a asp-action="Create" class="btn btn-outline-success m-2">Add new Product</a>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Sold</th>
                            <th scope="col">Unit price</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.Id</th>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.Quantity</td>
                                <td>@item.Sold</td>
                                <td>@item.UnitPrice</td>
                                <td><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning m-2 px-4">Edit</a></td>
                                <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger m-2 px-4 deleteBtn">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var deleteBtns = document.querySelectorAll('.deleteBtn');

        for (var i = 0; i < deleteBtns.length; i++) {
            deleteBtns[i].addEventListener('click', (ev) => {
                var res = window.confirm("Are you sure you want to delete it !!");
                if (res == false) {
                    ev.preventDefault();
                }
            });
        }

    </script>
}
