@*@model List<Core.Models.Invoice>*@
@using cloudscribe.Pagination.Models;
@model PagedResult<Core.Models.Invoice>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="d-flex justify-content-between align-content-center mb-3">
                    <h6 class="mb-4">All Invoices</h6>
                    <div></div>
                </div>
                <form asp-action="All" method="get" id="filterForm">

                    <div class="row d-flex align-items-center justify-content-between mb-4 mt-4">                   
                        <div class="col-4">
                            <label for="fromDate" class="form-label">From</label>
                            <input type="date" value="@ViewBag.from" id="fromDate" name="from" class="form-control bg-white">
                        </div>
                        <div class="col-4">
                            <label for="toDate" class="form-label">To</label>
                            <input type="date" value="@ViewBag.to" id="toDate" name="to" class="form-control bg-white">
                        </div>
                        <div class="col-4">
                            
                        </div>
                    </div>
                    
                    <div class="row mb-4">
                        <div class="col-12">
                            <input type="submit" value="Search" class="btn btn-outline-primary px-4" />
                            <input id="clear-fillter-btn" type="button" value="remove filter" class="btn btn-outline-success px-4" />
                        </div>
                    </div>
                </form>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Invoice</th>
                            <th scope="col">Date</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Data)
                        {
                            <tr>
                                <th scope="row">INV-@item.Id</th>
                                <td>@item.Date.ToString("MM-dd-yyyy")</td>
                                <td>@item.Customer.Name</td>
                                <td>@item.Amount</td>
                                <td>Paid</td>
                                <td><a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Invoice Details</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <cs-pager cs-paging-pagesize="Model.PageSize"
                      cs-paging-pagenumber="Model.PageNumber"
                      cs-paging-totalitems="Model.TotalItems"
                      cs-pagenumber-param="pagenumber"
                      asp-controller="Invoice"
                      asp-action="All"
                      cs-pager-li-current-class="page-item active"
                      cs-pager-li-other-class="page-item"
                      cs-pager-li-non-active-class="page-item disabled"
                      cs-pager-link-current-class="page-link"
                      cs-pager-link-other-class="page-link">
            </cs-pager>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        let clearFilterBtn = document.getElementById("clear-fillter-btn");

        clearFilterBtn.addEventListener("click",()=>{
            document.getElementById("toDate").value = "";
            document.getElementById("fromDate").value = "";
            document.getElementById("filterForm").submit();
        });
    </script>
}




