
<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4" style="margin-top:-40px;">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Sale</p>
                    <h6 class="mb-0">@ViewBag.TodaySale EGP</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Sale</p>
                    <h6 class="mb-0">@ViewBag.TotalSale EGP</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Monthly Sale</p>
                    <h6 class="mb-0">@ViewBag.MonthlySale EGP</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Products Value</p>
                    <h6 class="mb-0">@ViewBag.ProductsValue EGP</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sale & Revenue End -->
<!-- Chart Start -->
@*<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Monthly Sale Chart</h6>
                <canvas id="line-chart"></canvas>
            </div>
        </div>     
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Weakly Sale Chart</h6>
                <canvas id="bar-chart"></canvas>
            </div>
        </div>            
    </div>
</div>*@
<!-- Chart End -->



<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Salse</h6>
            <a asp-action="All" asp-controller="Invoice">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col">Invoice</th>
                        <th scope="col">Date</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.RecentSale)
                    {
                       <tr>
                            <td>INV-@item.Id</td>
                            <td>@item.Date.Date</td>
                            <td>@item.Customer.Name</td>
                            <td>@item.Amount EGP</td>
                            <td>Paid</td>
                       </tr>
                  
                    }
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->



@section Scripts{
    <script src="~/assets/js/HomeIndexPage.js" asp-append-version="true"></script>
}